* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

 .header{
    width: 100%;
    height: 80px;
    display: block;
    background-color:#E4E0E1;
}

.inner_header{
    width: 1200px;
    display: block;
    margin: 0 auto; 
}

.name_holder{
    height: 100%;
    display: table;
    float: left;
}

.name_holder h1{
    color: #493628;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Bebas Neue';
    padding: 20px;
}

.navigation{
    float: right;
    height: 100%;
    padding: 20px;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

img {
    width: 30px;
}

.resume {
    color:#493628;
}

.navigation .resume{
    background-color:#E4E0E1;
    color:#493628;
    font-size: 22px;
    border-radius: 5px; 
    padding: 1px;
}

.info{
    font-family: 'Bebas Neue';
    color:#D6C0B3;
    background-color: #493628;
}

.middlecontent{
    display:flex;
    flex-direction: row;
}

.mctext{
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 140px;
}

.mctext h1{
    padding-bottom: 40px;
    font-size: 60px;
}

.mctextbtn {
    font-size: 25px;
}

.mctextbtn .btn{
    background-color:#E4E0E1;
    color:#493628;
    font-size: 22px;
    border-radius: 5px;
    margin-top: 80px;
    padding:5px;
}

.middlecontentimg .img{
    width:390px;
    height:100%;
    margin-left: 100px;
}

.infotwo{
    font-family: 'Bebas Neue';
    color:#493628;
    background-color: #E4E0E1;
    padding-top: 50px;
    padding-bottom: 80px;
}

.experience{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    font-size: 20px;
    margin-left:80px;
}

.experience p {
    font-size: 15px;
}

.projects{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Bebas Neue';
    font-size:25px;
    margin-left:140px;
    color:#D6C0B3;
}
.projectmain{
    background-color: #493628;
    padding-bottom:120px;
}

.work{
    display:flex;
    flex-direction: row;
    margin-left: 140px;
    gap:140px;
}

.surveyform .sf{
    width:500px;
    height:100%;
}

.landingpage .lp{
    width:500px;
    height: 100%;
}

.sftxt{
    padding-top:15px;
    font-size:25px;
    font-family: 'Bebas Neue';
    color:#E4E0E1;
}

.sftxtsm{
    font-size:20px;
}

.lptxt{
    padding-top:25px;
    font-size:25px;
    font-family:'Bebas Neue';
    color:#E4E0E1;
}

.lptxtsm{
    font-size: 20px;
}










